---
import { ViewTransitions } from 'astro:transitions';
import '../styles/globals.css';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { SEO } from "astro-seo";


const { title } = Astro.props;
---

<html lang="en">
<head>
  <SEO
      title={title}
      description="Cybersecurity engineering student. Passionate about securing digital environments and automating security processes. Experienced in web development, penetration testing, and blockchain technologies."
      openGraph={{
        basic: {
          title: "Yassine El Jakani - Cyber Security Engineer",
          type: "A type.",
          image: "https://eljakani.me/og-image.jpg",
        }
      }}
      twitter={{
        creator: "@eljakaniyassin"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://eljakani.me/og-image.jpg",
          },
          { name: "twitter:title", content: "Yassine El Jakani - Cyber Security Engineer" },
        ],
      }}
  />
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ViewTransitions />
  <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" />
  <script is:inline>
    function getThemePreference() {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }
      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    }

    function setTheme(theme) {
      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('theme', theme);
    }

    setTheme(getThemePreference());

    document.addEventListener('astro:after-swap', () => {
      setTheme(getThemePreference());
    });
  </script>
</head>
<body class="min-h-screen bg-background font-sans antialiased">
<div class="relative flex min-h-screen flex-col container mx-auto px-4 max-w-5xl">
  <div class="flex-1">
    <slot />
  </div>
</div>
</body>
</html>